$card-header-vertical:             30px;
$card-font-title:                  $global-font-title;
$card-font-family:                 $global-font-family;
$card-font-size:                   $global-small-font-size;
$card-font-medium-size:            $global-medium-font-size;
$card-color:                       $global-color;
$card-emphasis-color:              $global-emphasis-color;
$card-title-color-posts:           #555555;
$card-font-weight-bold:            700;

.card {
	position: relative;
	cursor: pointer;
	&.card-counters {
		cursor: auto;
	}
	&.card-projects { 
		width: 370px;
   max-width: 370px;
   background: $global-secondary-background;
	}
	&.card-projects:hover .card-title {
    color: $global-primary-color;
	}
	&.card-projects:hover .card-title.posts {
    color: $global-emphasis-color;
	}
	&.card-projects:hover .card-text {
    color: $global-emphasis-color;
	}
	&.card-projects:hover .card-text.posts {
    color: $global-primary-color;
	}
	&.card-projects:hover .card-cover {
  	display: flex;
  }
  &.card-projects:hover .data {
		background-color: $global-emphasis-color;
	}
  &.card-projects:hover .month {
		background-color: #a48d72;
	}
	&.card-projects:hover {
   background: #362f2d;
	}
}

.card-header {
	position: relative;
	&.above-footer {
		font-size: $global-large-font-size;
		color: $global-primary-color;
		font-family: $card-font-title;
		font-weight: $card-font-weight-bold;
		padding-top: 20px;
	}
	&.introduction, {
	display: flex;
	justify-content: center;
	margin-bottom: $card-header-vertical;
	width: 100%;
	height: auto;
  }
  &.counters {
  margin-bottom: 30px;
  display: flex;
	justify-content: center;
	margin-bottom: $card-header-vertical;
  }
  &.counters>img {
  	width: auto;
  }
  &.projects>.card-image {   
   height: 237px;
   max-height: 237px;
 }
  &.projects>.card-image>img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
  }
  &.projects>.card-cover {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.7);
    justify-content: center;
    align-items: center
  }
}

.card-header.introduction > img {
	width: auto;
	margin: 0 auto;
}

.card-body {
	text-align: center;
	&.projects {
		text-align: left;
		padding: 30px;
	}
	&.above-footer {
		text-align: left;
		margin-top: 30px;
	}
}

.card-title {
	font-famile: $card-font-title;
	font-size: $card-font-medium-size;
	font-weight: 500;
	color: $card-emphasis-color;
	&.introduction {
	font-size: 22px;
	font-family: $card-font-title;
	margin-bottom: $heading-margin-vertical;
	color: #555555;
  }
  &.counters {
		font-family: $global-font-family;
		font-size: 48px;
		color: $global-primary-color;
	}
	&.posts {
		color: $card-title-color-posts;
	}
}

.card-text {
	font-family: $card-font-family;
	font-size: $card-font-size;
	&.primary {
	color: $card-color;
	padding-bottom: 30px;
  }
  &.projects {
	color: #d1d1d1;
	margin: 0;
  }
  &.counters {
  text-transform: uppercase;
  color: $card-emphasis-color;
  }
  &.above-footer {
  color: #555555;
  }
  &.above-footer.sectioned {
  	display: block;
  	margin-top: 20px;
  	padding-bottom: 20px;
  	border-bottom: 1px solid #252525;
  }
  &.above-footer.sectioned:hover .recent-posts {
  	color: $global-primary-color;
  }
  &.above-footer.sectioned:hover {
  	color: $global-emphasis-color;
  }
}

.underline {
	display: block;
	margin: 0 auto;
	width: 70px;
  height: 3px;
  background-color: #f1eee9;
  margin-top: 30px;
  &.counters {
  width: 30px;
  height: 2px;
  background-color: #ffffff;
  }
}

.card-introduction>.card-body:hover .card-title {
	color: $global-emphasis-color;
}

.card-introduction>.card-body:hover .underline {
	background-color: $global-emphasis-color;
}

.list-horizontal {
	display: flex;
	&-footer {
		margin: 0;
		padding: 0;
	}
	&-footer>li {
		display: inline-block;
		font-size: 13px;
		font-family: $global-font-family;
		font-weight: 300;
		color: #555555;
		border-right: 1px solid #555555;
		padding-right: 10px;
		&:hover {
			color: $global-emphasis-color;
			cursor: pointer;
		}
	}

	&-footer>li:last-child {
		border-right: none;
	}
}

.list-vertical {
	position: absolute;
	padding-left: 20px;
	padding-top: 20px;
	z-index: 2;
}

.list-vertical > li {
	display: block;
	max-width: 50px;
	text-align: center;
}

.social-icon.projects-icon {
	width: auto;
	margin: 0 15px;
}

.mobile-list > .mobile-li {
	display: inline-block;
}

.mobile-li::before {
	content: '>';
	text-align: center;
	color: #fff;
	font-weight: 600;
	display: inline-block;
	vertical-align: middle;
	width: 21px;
	height: 21px;
	background-color: #c7b299;
	border-radius: 50%;
	margin: 0 29px 12px 20px;
	}

	.data {
	color: $global-primary-color;
	font-family: $global-font-family;
	font-size: $global-large-font-size;
	padding: 9px 10px;
	border-radius: 3px 3px 0 0;
	background-color: #363636;
	line-height: 1;
}

.month {
	padding: 6px 12px;
	font-family: 'Roboto';
	color: $global-primary-color;
	font-size: 12px;
	background-color: #252525;
	border-radius: 0 0 3px 3px;
}

.posts-link {
	color: $global-emphasis-color;
	font-family: $global-font-family;
	font-size: $global-small-font-size;
	&.above-footer {
		color: $global-primary-color;
	}
}

.posts-link::after {
	content: '►';
	margin-left: 9px;
  display: inline-block;
	vertical-align: middle;
}

.partner-link {
	display: inline-block;
}

.partner-link>img {
	width: auto;
	height: 100%;
}

.recent-posts {
	display: block;
	color: #363636;
	font-family: $card-font-family;
	font-size: 12px;
	padding-bottom: 10px;
}

.card-image.widget {
	display: block;
	width: 130px;
  height: 98px;
  max-height: 98px;
  margin-right: 5px;
}

.card-image.widget>img {
	display: block;
	object-fit: cover;
	width: 100%;
	height: 100%;
}